In [1]:
import pandas as pd

In [2]:
trx = pd.read_csv("uriage.csv")
trx.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
customer = pd.read_excel("kokyaku_daicho.xlsx")
customer.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

### 테크닉 . 오류를 확인해보자

In [4]:
# 상품명 공백, 소문자
trx["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [5]:
# null
trx["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [6]:
# 이름 사이 공백
customer["고객이름"].head()

0    김 현성
1    김 도윤
2    김 지한
3    김 하윤
4    김 시온
Name: 고객이름, dtype: object

In [7]:
# 날짜 형식 불일치
customer["등록일"].head()

0    2018-01-04 00:00:00
1                  42782
2    2018-01-07 00:00:00
3                  42872
4                  43127
Name: 등록일, dtype: object

In [8]:
trx.isnull().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [9]:
customer.isnull().sum()

고객이름    0
지역      0
등록일     0
dtype: int64

### 테크닉 . 상품명 오류 수정

In [10]:
trx["purchase_date"] = pd.to_datetime(trx["purchase_date"])
trx["purchase_month"] = trx["purchase_date"].dt.strftime("%Y%m")
trx["purchase_month"].head()

res = pd.pivot_table(trx, index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
res

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [11]:
#trx["item_name"].unique()
#pd.unique(trx["item_name"])
len(trx["item_name"].unique())

99

In [12]:
trx["item_name"] = trx["item_name"].str.upper()
trx["item_name"] = trx["item_name"].str.replace(" ","")
trx["item_name"].head()

0    상품A
1    상품S
2    상품A
3    상품Z
4    상품A
Name: item_name, dtype: object

In [13]:
len(trx["item_name"].unique())

26

### 테크닉 . 고객명 수정

In [14]:
customer["고객이름"] = customer["고객이름"].str.replace("  ", "")
customer["고객이름"] = customer["고객이름"].str.replace(" ", "")
customer["고객이름"].head()

0    김현성
1    김도윤
2    김지한
3    김하윤
4    김시온
Name: 고객이름, dtype: object

### 테크닉. 금액 결측치 수정

In [15]:
trx.isnull().any(axis=0)
#trx["item_price"].isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

#### loc에 대해서..

In [16]:
city = pd.DataFrame(
    [
        ["Korea","Asia",True],
        ["USA","North America",False],
        ["France","Europe",False]
    ],
    index = ["Busan","Chicago","Paris"],
    columns = ["country","continent","port"]
)
city

        country      continent   port
Busan     Korea           Asia   True
Chicago     USA  North America  False
Paris    France         Europe  False

In [17]:
#loc[조건]
city.loc[city["country"] == "Korea"]

      country continent  port
Busan   Korea      Asia  True

In [18]:
# loc[조건, 조회할 칼럼 이름]
city.loc[city["country"] == "Korea", "continent"]

Busan    Asia
Name: continent, dtype: object

In [19]:
#Boolean
city.loc[city["port"]]

      country continent  port
Busan   Korea      Asia  True

In [20]:
#Boolean
city.loc[~city["port"]]

        country      continent   port
Chicago     USA  North America  False
Paris    France         Europe  False

In [21]:
#복합조건 (or / |)
city.loc[(city["country"] == "Korea") | (city["continent"] == "Europe")]

      country continent   port
Busan   Korea      Asia   True
Paris  France    Europe  False

In [22]:
#복합조건 (and / &)
city.loc[(city["country"] == "Korea") & (city["continent"] == "Europe")]

Empty DataFrame
Columns: [country, continent, port]
Index: []

In [23]:
trx["item_price"].isnull()

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [24]:
# loc[조건, 조회할 컬럼]
list(trx.loc[trx["item_price"].isnull(),"item_name"])

['상품S',
 '상품A',
 '상품A',
 '상품A',
 '상품A',
 '상품P',
 '상품N',
 '상품W',
 '상품R',
 '상품I',
 '상품W',
 '상품L',
 '상품F',
 '상품N',
 '상품O',
 '상품S',
 '상품B',
 '상품C',
 '상품V',
 '상품Q',
 '상품P',
 '상품I',
 '상품U',
 '상품U',
 '상품C',
 '상품K',
 '상품I',
 '상품T',
 '상품K',
 '상품W',
 '상품X',
 '상품F',
 '상품F',
 '상품Q',
 '상품E',
 '상품N',
 '상품X',
 '상품P',
 '상품O',
 '상품B',
 '상품U',
 '상품U',
 '상품Q',
 '상품S',
 '상품V',
 '상품A',
 '상품M',
 '상품R',
 '상품V',
 '상품T',
 '상품W',
 '상품G',
 '상품G',
 '상품W',
 '상품Q',
 '상품A',
 '상품E',
 '상품S',
 '상품V',
 '상품K',
 '상품N',
 '상품R',
 '상품R',
 '상품W',
 '상품F',
 '상품C',
 '상품J',
 '상품F',
 '상품S',
 '상품B',
 '상품D',
 '상품R',
 '상품W',
 '상품V',
 '상품T',
 '상품D',
 '상품E',
 '상품V',
 '상품X',
 '상품I',
 '상품V',
 '상품V',
 '상품B',
 '상품M',
 '상품F',
 '상품F',
 '상품Q',
 '상품R',
 '상품N',
 '상품W',
 '상품N',
 '상품L',
 '상품A',
 '상품C',
 '상품V',
 '상품L',
 '상품T',
 '상품R',
 '상품X',
 '상품S',
 '상품M',
 '상품C',
 '상품W',
 '상품N',
 '상품E',
 '상품F',
 '상품X',
 '상품K',
 '상품X',
 '상품B',
 '상품W',
 '상품C',
 '상품R',
 '상품A',
 '상품N',
 '상품A',
 '상품C',
 '상품V',
 '상품S',
 '상품Q',
 '상품D',
 '상품S',
 '상품K',
 '상품C',
 '상품R',
 '상품A',
 '상품G',
 '상품X',
 '상품X',
 '상품B',
 '상품O',
 '상품V',
 '상품H',
 '상품N',
 '상품I',
 '상품R',
 '상품S',
 '상품L',
 '상품X',
 '상품V',
 '상품H',
 '상품N',
 '상품K',
 '상품C',
 '상품H',
 '상품N',
 '상품K',
 '상품B',
 '상품B',
 '상품Q',
 '상품W',
 '상품V',
 '상품O',
 '상품D',
 '상품I',
 '상품Q',
 '상품G',
 '상품V',
 '상품G',
 '상품A',
 '상품P',
 '상품C',
 '상품D',
 '상품S',
 '상품L',
 '상품G',
 '상품G',
 '상품T',
 '상품S',
 '상품A',
 '상품E',
 '상품J',
 '상품C',
 '상품X',
 '상품W',
 '상품S',
 '상품A',
 '상품P',
 '상품P',
 '상품C',
 '상품U',
 '상품N',
 '상품O',
 '상품L',
 '상품K',
 '상품J',
 '상품T',
 '상품S',
 '상품S',
 '상품W',
 '상품Y',
 '상품E',
 '상품I',
 '상품T',
 '상품Q',
 '상품T',
 '상품R',
 '상품O',
 '상품S',
 '상품D',
 '상품Q',
 '상품T',
 '상품O',
 '상품B',
 '상품O',
 '상품I',
 '상품E',
 '상품J',
 '상품L',
 '상품R',
 '상품M',
 '상품K',
 '상품F',
 '상품X',
 '상품C',
 '상품Y',
 '상품F',
 '상품Y',
 '상품K',
 '상품G',
 '상품C',
 '상품X',
 '상품M',
 '상품V',
 '상품Q',
 '상품U',
 '상품L',
 '상품V',
 '상품V',
 '상품U',
 '상품D',
 '상품Y',
 '상품U',
 '상품K',
 '상품V',
 '상품C',
 '상품A',
 '상품K',
 '상품O',
 '상품F',
 '상품E',
 '상품Q',
 '상품N',
 '상품Q',
 '상품M',
 '상품W',
 '상품M',
 '상품A',
 '상품E',
 '상품V',
 '상품Q',
 '상품P',
 '상품L',
 '상품A',
 '상품J',
 '상품B',
 '상품H',
 '상품S',
 '상품W',
 '상품M',
 '상품R',
 '상품A',
 '상품K',
 '상품G',
 '상품B',
 '상품O',
 '상품G',
 '상품F',
 '상품R',
 '상품J',
 '상품Y',
 '상품K',
 '상품G',
 '상품O',
 '상품Y',
 '상품F',
 '상품J',
 '상품F',
 '상품J',
 '상품I',
 '상품Q',
 '상품V',
 '상품F',
 '상품R',
 '상품K',
 '상품H',
 '상품B',
 '상품W',
 '상품I',
 '상품J',
 '상품W',
 '상품J',
 '상품T',
 '상품R',
 '상품G',
 '상품D',
 '상품A',
 '상품S',
 '상품D',
 '상품C',
 '상품L',
 '상품C',
 '상품J',
 '상품E',
 '상품W',
 '상품X',
 '상품U',
 '상품S',
 '상품B',
 '상품F',
 '상품F',
 '상품W',
 '상품Y',
 '상품C',
 '상품B',
 '상품I',
 '상품S',
 '상품L',
 '상품Y',
 '상품S',
 '상품M',
 '상품W',
 '상품I',
 '상품Y',
 '상품S',
 '상품F',
 '상품P',
 '상품U',
 '상품K',
 '상품W',
 '상품F',
 '상품T',
 '상품R',
 '상품J',
 '상품T',
 '상품U',
 '상품A',
 '상품P',
 '상품W',
 '상품G',
 '상품X',
 '상품J',
 '상품X',
 '상품A',
 '상품G',
 '상품N',
 '상품D',
 '상품C',
 '상품A',
 '상품M',
 '상품V',
 '상품Y',
 '상품B',
 '상품B',
 '상품J',
 '상품E',
 '상품E',
 '상품Y',
 '상품V',
 '상품S',
 '상품I',
 '상품N',
 '상품J',
 '상품A',
 '상품V',
 '상품Y',
 '상품H',
 '상품Q',
 '상품S',
 '상품H',
 '상품Y',
 '상품Y',
 '상품B',
 '상품I',
 '상품N',
 '상품B',
 '상품E',
 '상품S',
 '상품O',
 '상품Q',
 '상품X',
 '상품X',
 '상품K',
 '상품O',
 '상품C',
 '상품Q',
 '상품H']

In [25]:
# 조건 : (~trx["item_price"].isnull()) & (trx["item_name"] == "상품A")
trx.loc[(trx["item_name"] == "상품A"), "item_price"].max()

100.0

In [26]:
# loc[조건]
trx.loc[(trx["item_price"].isnull()) & (trx["item_name"] == "상품A"), "item_price"]

2      NaN
4      NaN
6      NaN
14     NaN
300    NaN
361    NaN
667    NaN
838    NaN
844    NaN
957    NaN
1260   NaN
1394   NaN
1474   NaN
1892   NaN
1937   NaN
1977   NaN
2063   NaN
2278   NaN
2636   NaN
2669   NaN
2732   NaN
2821   NaN
Name: item_price, dtype: float64

In [27]:
price_null = trx["item_price"].isnull()

for item in list(trx.loc[price_null, "item_name"]):
    price = trx.loc[trx["item_name"] == item, "item_price"].max()
    trx["item_price"].loc[(price_null) & (trx["item_name"] == item)] = price

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [28]:
trx["item_price"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2994    False
2995    False
2996    False
2997    False
2998    False
Name: item_price, Length: 2999, dtype: bool

In [31]:
trx[["item_price", "item_name"]].head()

   item_price item_name
0       100.0       상품A
1      1900.0       상품S
2       100.0       상품A
3      2600.0       상품Z
4       100.0       상품A