In [1]:
import pandas as pd

In [3]:
trx = pd.read_csv("uriage.csv")
trx.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [4]:
customer = pd.read_excel("kokyaku_daicho.xlsx")
customer.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

### 테크닉 1. 오류를 확인해보자

In [5]:
trx["item_name"].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

In [8]:
trx["item_price"].isnull().sum()

387

In [9]:
trx.isnull().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [10]:
customer.isnull().sum()

고객이름    0
지역      0
등록일     0
dtype: int64

In [11]:
customer["고객이름"].head()

0    김 현성
1    김 도윤
2    김 지한
3    김 하윤
4    김 시온
Name: 고객이름, dtype: object

In [12]:
customer["등록일"].head()

0    2018-01-04 00:00:00
1                  42782
2    2018-01-07 00:00:00
3                  42872
4                  43127
Name: 등록일, dtype: object

### 테크닉2. 상품명 오류수정

In [22]:
trx["purchase_date"] = pd.to_datetime(trx["purchase_date"])
trx["purchase_month"] = trx["purchase_date"].dt.strftime("%Y%m")
pivot = pd.pivot_table(trx, index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
pivot

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [15]:
pd.unique(trx["item_name"])

array(['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O',
       '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g',
       '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K',
       '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M',
       '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q',
       ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N',
       '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F',
       '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C',
       '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s',
       '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S',
       '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e',
       '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P'], dtype=object)

In [16]:
trx["item_name"] = trx["item_name"].str.upper()
pd.unique(trx["item_name"])

array(['상품A', '상 품 S', '상 품 A', '상품Z', '상품S', '상품 A', '상품V', '상품O',
       '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품R', '상품X', '상품 G',
       '상품P', '상품Q', '상품Y', '상품N', '상품W', '상 품E', '상품K', '상품B', '상품F',
       '상 품S', ' 상품W', ' 상 품 N', '상 품F', '상품D', '상품M', '상품U', '상품H',
       '상품T', '상품J', '상  품O', '상품E', '상  품Q', ' 상품 S', ' 상품 M', '상  품T',
       '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N', '상 품Y', '상품 J', '상품 V',
       '상품 K', '상 품V', '상 품D', '상 품A', '상품 F', '상품 H', '상 품K', '상 품T',
       '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C', '상품 B', '상품 O', '상품 T',
       '상품 W', '상 품 Q', '상품 R', '상품 S', '상 품M', '상품 I', '상품 E', '상 품I',
       ' 상품 W', ' 상품 X', '상품 M', '상 품P'], dtype=object)

In [18]:
trx["item_name"] = trx["item_name"].str.replace(" ", "")
pd.unique(trx["item_name"])

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [23]:
trx["item_name"].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [24]:
len(trx["item_name"].unique())

26

In [25]:
customer["고객이름"].unique()

array(['김 현성', '김 도윤', '김 지한', '김 하윤', '김 시온', '김 예성', '김 하람', '김 호준',
       '김 지완', '김 주호', '김 재원', '김 승민', '김 준형', '김 동건', '김 준서', '김 수혁',
       '김 진우', '김 윤호', '김 윤서', '김 준희', '김 윤우', '김 동우', '김 성빈', '김 태준',
       '김 태경', '김 승후', '김 현우', '김 서준', '김 주원', '김 태인', '김 승준', '김 윤재',
       '김 수민', '김 승훈', '김 하준', '김 하율', '김 우찬', '김 준성', '김 준혁', '김 승찬',
       '김 현승', '김 지운', '김 성민', '김 지호', '김 우준', '김 승빈', '김 재민', '김 태민',
       '김 주혁', '김 정원', '김 하랑', '김 지우', '김 예준', '김 주영', '김 민석', '김 유빈',
       '김 시훈', '김 동현', '김 라온', '김 은우', '김 민재', '김 준후', '김 현서', '김 서후',
       '김 재현', '김 유준', '김 찬우', '김 도현', '김 상민', '김 재영', '김 하진', '김 범준',
       '김 우진', '김 지훈', '김 시윤', '김 강민', '김 지성', '김 윤찬', '김 민호', '김 윤성',
       '김 지후', '김 현진', '김 태양', '김 대현', '김 재준', '김 민건', '김 도경', '김 지민',
       '김 은호', '김 민혁', '김 민찬', '김 승원', '김 정현', '김 승유', '김 세현', '김 승윤',
       '김 이준', '김 경민', '김 정훈', '김 성우', '김 은율', '김 도훈', '김 태현', '김 주안',
       '김 동욱', '김 재훈', '김 도율', '김 예찬', '김 태훈', '김 준석', '김 원준', '김 민준',
       '김 은찬', '김 영준', '김 주한', '김 현수', '김 건희', '김 규민', '김 재혁', '김 승재',
       '김 정후', '김 성현', '정 영훈', '김 민우', '김 주환', '김 준호', '김 준우', '김 시율',
       '김 도하', '김 규현', '김 주현', '김 정민', '김 건우', '정 도형', '김 연준', '김 강현',
       '김 태우', '김 지율', '김 지용', '김 지오', '김 수호', '김 가온', '김 유찬', '김 상현',
       '김 시완', '김 도원', '김 시우', '김 은성', '김 성윤', '김 우빈', '김 준수', '김 연호',
       '정 우석', '김 민규', '김 태영', '김 은혁', '김 준영', '김 지환', '김 서진', '김 서윤',
       '김 하민', '김 현준', '김 승현', '김 우영', '김 재윤', '김 한결', '김 우주', '김 지혁',
       '김 민서', '김 찬영', '김 시환', '김 수현', '김 서율', '정 준기', '김 성훈', '김 시호',
       '김 재호', '김 재우', '김 동하', '김 우현', '김 민기', '김 승환', '김 다온', '김 승우',
       '김 성준', '김 승호', '김 승주', '김 태윤', '김 민수', '김 현민', '김 유진', '김 지안',
       '김 현석', '김 선우', '김 지원', '김 재희', '김 도영', '김 이안', '김 시현', '김 서우'],
      dtype=object)

In [26]:
customer["고객이름"] = customer["고객이름"].str.replace(" ", "")

In [27]:
customer["고객이름"].unique()

array(['김현성', '김도윤', '김지한', '김하윤', '김시온', '김예성', '김하람', '김호준', '김지완',
       '김주호', '김재원', '김승민', '김준형', '김동건', '김준서', '김수혁', '김진우', '김윤호',
       '김윤서', '김준희', '김윤우', '김동우', '김성빈', '김태준', '김태경', '김승후', '김현우',
       '김서준', '김주원', '김태인', '김승준', '김윤재', '김수민', '김승훈', '김하준', '김하율',
       '김우찬', '김준성', '김준혁', '김승찬', '김현승', '김지운', '김성민', '김지호', '김우준',
       '김승빈', '김재민', '김태민', '김주혁', '김정원', '김하랑', '김지우', '김예준', '김주영',
       '김민석', '김유빈', '김시훈', '김동현', '김라온', '김은우', '김민재', '김준후', '김현서',
       '김서후', '김재현', '김유준', '김찬우', '김도현', '김상민', '김재영', '김하진', '김범준',
       '김우진', '김지훈', '김시윤', '김강민', '김지성', '김윤찬', '김민호', '김윤성', '김지후',
       '김현진', '김태양', '김대현', '김재준', '김민건', '김도경', '김지민', '김은호', '김민혁',
       '김민찬', '김승원', '김정현', '김승유', '김세현', '김승윤', '김이준', '김경민', '김정훈',
       '김성우', '김은율', '김도훈', '김태현', '김주안', '김동욱', '김재훈', '김도율', '김예찬',
       '김태훈', '김준석', '김원준', '김민준', '김은찬', '김영준', '김주한', '김현수', '김건희',
       '김규민', '김재혁', '김승재', '김정후', '김성현', '정영훈', '김민우', '김주환', '김준호',
       '김준우', '김시율', '김도하', '김규현', '김주현', '김정민', '김건우', '정도형', '김연준',
       '김강현', '김태우', '김지율', '김지용', '김지오', '김수호', '김가온', '김유찬', '김상현',
       '김시완', '김도원', '김시우', '김은성', '김성윤', '김우빈', '김준수', '김연호', '정우석',
       '김민규', '김태영', '김은혁', '김준영', '김지환', '김서진', '김서윤', '김하민', '김현준',
       '김승현', '김우영', '김재윤', '김한결', '김우주', '김지혁', '김민서', '김찬영', '김시환',
       '김수현', '김서율', '정준기', '김성훈', '김시호', '김재호', '김재우', '김동하', '김우현',
       '김민기', '김승환', '김다온', '김승우', '김성준', '김승호', '김승주', '김태윤', '김민수',
       '김현민', '김유진', '김지안', '김현석', '김선우', '김지원', '김재희', '김도영', '김이안',
       '김시현', '김서우'], dtype=object)